$darkbrown: #403426;
$mainborder: 5px solid black;
$introborder: 5px solid white;

.main {
    border:$mainborder;
}
.intro {
    border:$introborder;
    background-color:$darkbrown;
    padding:50%;
    h1 {
        text-align: center;
        color:white;
    }
    &::before {
        background-image:url("afcadventuresalbum.png");
        background-size:cover;
        background-repeat:no-repeat;
    }
}