$darkbrown: #403426;
$gray:#a1a1a1;
$mainborder: 5px solid black;
$introborder: 5px solid white;
@font-face {
    font-family: 'AR CENA';
    font-style: normal;
    font-weight: normal;
    src: local('AR CENA'), url('ARCENA.woff') format('woff');
}

@font-face {
    font-family: 'Chomsky';
    src: url('Chomsky.otf');
}

@font-face {
    font-family: 'Bluffolk';
    src: url('Bluffolk.otf');
}

body{
    background-color:$gray;
}

.main {
    border:$mainborder;
    background-color:white;
    p {
        font-family:"AR CENA";
        font-size:20px;
    }
    h1 {
        font-family:"Bluffolk";
        text-align: center;
        font-size:40px;
    }
}
.intro {
    margin:auto;
    width:75%;
    height:75%;
    border:$mainborder;
    padding-top:25%;
    padding-bottom:25%;

    background:$darkbrown url("afcadventuresalbumv2.png");
    background-size:inherit;
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    h1 {
        text-align: center;
        color:white;
        font-size:100px;
        font-family:Chomsky;
    }
}