$brown:#B17457;
$beigewhite:#D8D2C2;
$white:#FAF7F0;
$black:#4A4947;
@font-face {
    font-family: Dinopia;
    src: url(DinopiaRegular-mLrO9.otf);
}
@font-face {
    font-family: StoneHinge;
    src: url(StoneHinge-aa8m.ttf);
}
body {
    background-color:$beigewhite;
}
div {
    background-color:$white;
    border:4px solid $black;
    h1 {
        text-align:center;
        font-family:Dinopia;
        font-size:48px;
    }
    p {
        font-family:StoneHinge;
    }
    margin:8px;
    padding:8px;
}
.countdown {
    background-color:$brown;
    color:white;
    h1 {
        font-size:64px;
    }
    p {
        font-size:32px;
        font-weight:bold;
        text-align:center;
    }
    border:8px $black solid;
    margin-left:20%;
    margin-right:20%;
}